<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Management | Fashion Store</title>
    <link rel="shortcut icon" href="//cdn.hstatic.net/themes/1000184601/1001406013/14/favicon.png?v=1538" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/globals.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
</head>
<body>
<div class="flex h-screen bg-[ #FFFFFF] overflow-hidden text-[#0B0B0B]"
     style="font-family: 'DM Sans', 'Inter', system-ui, sans-serif">

    <!-- SideBar -->
    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main -->
    <div class="flex-1 flex flex-col overflow-hidden w-100 ">
        <!-- Main Content -->
        <main class="flex-1 overflow-y-auto bg-gray-50">
            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>

            <div class="p-6 space-y-6 w-full">
                <div>
                    <h1 class="text-xl font-bold text-slate-900">Edit Product</h1>
                    <p class="text-sm text-slate-500 mt-0.5">Edit something of product</p>
                </div>

                <div>
                    <!-- Error message -->
                    <ul th:if="${errors}"
                        class=" text-center uppercase text-xs bg-red-100 border border-red-400 text-red-700 px-10 py-3 mb-3 rounded relative " role="alert">
                        <li th:each="error : ${errors}" th:text="${error}" class="block"></li>
                    </ul>

                    <!-- Form fields -->
                    <form th:action="@{/fashion-store/products/update/{id}(id=${product.productId})}"
                          th:object="${product}"
                          method="POST"
                          enctype="multipart/form-data"
                          class="bg-white border border-slate-200 relative my-10">

                        <div class="p-6 space-y-6">
                            <div>
                                <div class="grid grid-cols-6 gap-6">
                                    <!-- Product Name -->
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="product-name" class="text-xs font-medium text-slate-700 block mb-2">Product Name</label>
                                        <input type="text"
                                               id="product-name"
                                               th:field="*{name}"
                                               placeholder="T-Shirt For Couple.."
                                               class="placeholder:text-[#6B7280]/70 border border-gray-400 text-gray-900 sm:text-sm outline-none block w-full p-2.5"
                                               required>
                                    </div>

                                    <!-- Select Category -->
                                    <div th:field="*{category.getCategoryId()}" class="col-span-6 sm:col-span-3">
                                        <label for="categoryId" class="text-xs text-slate-700 font-medium block mb-2">Category</label>
                                        <select id="categoryId" name="categoryId" class="border border-gray-400  sm:text-sm outline-none block w-full p-2.5">
                                            <option value="">Select Category</option>
                                            <option
                                                    th:each="category : ${categories}"
                                                    th:value="${category.categoryId}"
                                                    th:text="${category.name}"
                                                    th:selected="${category.categoryId == product.getCategory().getCategoryId()}"></option>
                                        </select>
                                    </div>

                                    <!-- Stock Quantity -->
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="stock-quantity" class="text-xs text-slate-700 font-medium block mb-2">Stock Quantity</label>
                                        <input type="text"
                                               id="stock-quantity"
                                               placeholder="0.. 999"
                                               th:field="*{stockQuantity}"
                                               class="placeholder:text-[#6B7280]/70 border border-gray-400 text-gray-900 sm:text-sm outline-none block w-full p-2.5"
                                               required>
                                    </div>

                                    <!-- Price -->
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="price" class="text-xs text-slate-700 font-medium block mb-2">Price</label>
                                        <input type="number"
                                               id="price"
                                               th:field="*{price}"
                                               placeholder="80.00"
                                               class="placeholder:text-[#6B7280]/70 border border-gray-400 text-gray-900 sm:text-sm outline-none block w-full p-2.5"
                                               required="">
                                    </div>

                                    <!-- Description -->
                                    <div class="col-span-full">
                                        <label for="description" class="text-xs font-medium text-slate-700 block mb-2">Description</label>
                                        <textarea id="description" th:field="*{description}" rows="6"
                                                  placeholder="Details..."
                                                  class="placeholder:text-[#6B7280]/70 border border-gray-400 text-gray-900 sm:text-sm outline-none block w-full p-4">
                                        </textarea>
                                    </div>

                                    <!-- Discount -->
                                    <div class="col-span-full">
                                        <label for="discount" class="text-xs font-medium text-slate-700 block mb-2">Discount</label>
                                        <input
                                                type="number"
                                                id="discount"
                                                th:field="*{discountPercent}"
                                                placeholder="0.. 99%"
                                                min="0"
                                                max="99"
                                                class="placeholder:text-[#6B7280]/70 border border-gray-400 text-gray-900 sm:text-sm outline-none block w-full p-2.5" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-6 border-t border-gray-200 rounded-b">
                            <button type="submit"
                                    class="mt-5 px-6 flex items-center justify-center gap-2 bg-[#E5E7EB] text-white py-4 text-xs tracking-[0.15em] uppercase hover:bg-gray-900 transition-colors mb-4">
                                Save Changes
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>