<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/globals.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
</head>
<body>
<div class="bg-gray-100">
    <div class="h-screen flex flex-col justify-center items-center">
        <h1 class="text-8xl font-bold text-gray-800">404</h1>
        <p th:if="${error != null}" th:text="${error}" class="text-4xl font-medium text-gray-800"></p>
        <a th:href="@{/fashion-store/dashboard}" class="mt-4 text-xl text-blue-600 hover:underline">Go back home</a>
    </div>
</div>
</body>
</html>