<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Management | Fashion Store</title>
    <link rel="shortcut icon" href="//cdn.hstatic.net/themes/1000184601/1001406013/14/favicon.png?v=1538" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/globals.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
</head>
<body>
<div class="flex h-screen bg-[ #FFFFFF] overflow-hidden text-[#0B0B0B]"
     style="font-family: 'DM Sans', 'Inter', system-ui, sans-serif">

    <!-- SideBar -->
    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main -->
    <div class="flex-1 flex flex-col overflow-hidden w-100 ">
        <!-- Main Content -->
        <main class="flex-1 overflow-y-auto bg-[ #FFFFFF]">
            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>

            <div class="p-6 space-y-6 w-full">
                <div>
                    <h1 class="text-xl font-bold text-slate-900">Add New Category</h1>
                    <p class="text-sm text-slate-500 mt-0.5">Add something about category</p>
                </div>

                <div>
                    <!-- Error message-->
                    <ul th:if="${errors}"
                        class="text-xs bg-red-100 border border-red-400 text-red-700 px-10 py-3 mb-3 rounded relative" role="alert">
                        <li th:each="error : ${errors}" th:text="${error}" class="block"></li>
                    </ul>

                    <!-- Form fields -->
                    <form th:action="@{/fashion-store/categories/add-new}"
                          th:object="${category}"
                          method="POST"
                          class="bg-[#FAFAFA] border border-[#E5E7EB] rounded-lg relative my-10">

                        <div class="p-6 space-y-6">
                            <div>
                                <div class="grid grid-cols-6 gap-6">
                                    <!-- Category Name -->
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="category-name" class="text-xs font-medium text-[#6B7280] block mb-2">Name</label>
                                        <input type="text"
                                               id="category-name"
                                               th:field="*{name}"
                                               placeholder="Category name..."
                                               class="placeholder:text-[#6B7280]/70 bg-[#F3F4F6] text-gray-900 sm:text-sm rounded-lg outline-none block w-full p-2.5"
                                               required>
                                    </div>

                                    <!-- Category Description -->
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="category-description" class="text-xs font-medium text-[#6B7280] block mb-2">Description</label>
                                        <input type="text"
                                               id="category-description"
                                               th:field="*{description}"
                                               placeholder="Category description..."
                                               class="placeholder:text-[#6B7280]/70 bg-[#F3F4F6] text-gray-900 sm:text-sm rounded-lg outline-none block w-full p-2.5"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-6 border-t border-gray-200 rounded-b">
                            <button class="text-[#6B7280] bg-[#D6C4AA]/60 hover:bg-[#D6C4AA]/80 border border-[#D6C4AA]/90 focus:outline-2 focus:outline-offset-2 focus:outline-[#D6C4AA]/90 active:bg-[#D6C4AA]/90 font-medium rounded-lg text-sm px-10 py-2.5 text-center" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
