<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/globals.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
</head>
<body>
<div class="flex h-screen bg-[#F5F1EB] overflow-hidden text-[#222222]"
     style="font-family: 'DM Sans', 'Inter', system-ui, sans-serif">

    <!-- SideBar -->
    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>

    <!-- Main -->
    <div class="flex-1 flex flex-col overflow-hidden w-100 ">
        <!-- Main Content -->
        <main class="flex-1 overflow-y-auto bg-[#F5F1EB] ">
            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>

            <div class="p-6 space-y-6 w-full">
                <div>
                    <h1 class="text-xl font-bold text-slate-900">Add New Category</h1>
                    <p class="text-sm text-slate-500 mt-0.5">Add something about category</p>
                </div>

                <!-- Avatar & basic -->
                <div class="bg-white rounded-xl border border-slate-200 p-6">
                    <div class="flex items-center gap-5 mb-6">
                        <div class="relative">
                            <div class="py-4 px-4 bg-pink-500 flex items-center justify-center text-[30px] font-bold text-[#1F1B18] flex-shrink-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-bar-stacked-icon lucide-chart-bar-stacked"><path d="M11 13v4"/><path d="M15 5v4"/><path d="M3 3v16a2 2 0 0 0 2 2h16"/><rect x="7" y="13" width="9" height="4" rx="1"/><rect x="7" y="5" width="12" height="4" rx="1"/></svg>                            </div>
                        </div>

                        <div>
                            <div class="text-lg font-bold text-slate-900">Category</div>
                            <div class="text-sm text-slate-500">You can add new for Category in this page</div>
                        </div>
                    </div>

                    <!-- Error message-->
                    <ul th:if="${errors}"
                        class=" text-xs bg-red-100 border border-red-400 text-red-700 px-10 py-3 mb-3 rounded relative " role="alert">
                        <li th:each="error : ${errors}" th:text="${error}" class="block"></li>
                    </ul>

                    <!-- Form fields -->
                    <form th:action="@{/fashion-store/categories/update/{id}(id=${category.categoryId})}"
                          th:object="${category}"
                          method="POST"
                          class="grid grid-cols-1 sm:grid-cols-2 gap-4">

                        <div>
                            <label class="block text-xs font-semibold text-slate-600 mb-1.5 flex items-center gap-1.5">
                                Name
                            </label>
                            <input th:field="*{name}"
                                   class="w-full border rounded-xl px-3 py-2.5 text-sm text-slate-700 outline-none transition-colors border-indigo-300 focus:border-indigo-500 bg-white"/>
                        </div>

                        <div>
                            <label  class="block text-xs font-semibold text-slate-600 mb-1.5 flex items-center gap-1.5">
                                Description
                            </label>
                            <input th:field="*{description}" class="w-full border rounded-xl px-3 py-2.5 text-sm text-slate-700 outline-none transition-colors border-indigo-300 focus:border-indigo-500 bg-white"/>
                        </div>

                        <div class="col-span-full">
                            <button type="submit" class="mt-4 flex items-center gap-2 px-5 py-2.5 bg-indigo-500 text-white text-sm font-semibold rounded-xl hover:bg-indigo-600 transition-colors">
                                Save Changes
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>